@import "tailwindcss";

@font-face {
  font-family: 'GenshinFont';
  src: url('./assets/fonts/zh-cn.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.font-genshin {
  font-family: 'GenshinFont', sans-serif;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}